<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <a class="navbar-brand" href="#">Logo</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      
        <ul class="navbar-nav">
          <li class="nav-item active">
            
            <a class="nav-link " href="#">BOURI Marouane<i class="bi bi-person-fill"></i><span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
</nav>
